.containerFooter {
  height: 50px;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #12284A;
  padding-top: 25px;
  padding-bottom: 20px;
}
.element1, .element2, .element3, .element4, .element5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.containerFooter img{
  width: 10%;  
}
.element1 img{
  width: 65%;
}
.element5 img{
  width: 75%;
}
.containerFooter p{
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .containerFooter {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
        
  }
  .element1, .element2, .element3, .element4, .element5 {
    flex-direction: row;
    justify-content: start;   
    margin-bottom: 10px;   
    margin-left: 20px;
  }
  .element2, .element3, .element4{
    margin-left: 50px;
  }
}
  