.add{
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.tituloEvents h1{
    color: #007bff;
    
}
.Events{
    max-width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.tituloEvents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.tituloEvents h2{
    display: flex;
    align-items: center;
}

.eventos2{
    width: 80vw;
 display: flex;
 justify-content: space-between;
}